# use glob syntax.
syntax: glob

*~
*.old
configure
Makefile
Makefile.in
*/Makefile
*/Makefile.in
autom4te.cache
ar-lib
compile
m4/*
!m4/ax_*
libsrc/Makefile.jc
*/.deps
*/.libs
*/*.o
*/*.lo
*/*.la
bin/*
include/*
lib/*
share/*
newforms
progs/newforms
progs/smallnf
progs/curves
tests/newforms
tests/smallnf
eclib*.tar.gz
eclib*.tar.bz2
aclocal.m4
config.guess
config.sub
config.log
config.status
depcomp
install-sh
ltmain.sh
missing
libtool
*.testout

# Mac cache files 
.DS_Store

# Temporary swap files
.*.swp

# Program executables
progs/aplist
progs/checkap
progs/cubics
progs/ecnf
progs/h1bsd
progs/h1bsdcurisog
progs/h1clist
progs/h1curve
progs/h1first
progs/indep_test
progs/list_cubics
progs/moreap
progs/mwrank
progs/nfcount
progs/nfhpcurve
progs/nfhpcurve_prof
progs/nfhpmcurve
progs/pcurve
progs/point_search
progs/qexp
progs/quartic_points
progs/reduce_cubics
progs/reduce_quartics
progs/solve_conic
progs/solve_legendre
tests/allisog
tests/bigrattest
tests/checkgens
tests/comptest
tests/conductor
tests/d2
tests/hecketest
tests/homtest
tests/mattest1
tests/mattest2
tests/mhcount
tests/mmattest
tests/modtest
tests/mptest
tests/mspace
tests/mvectest
tests/nftest
tests/oftest
tests/ptest
tests/rattest
tests/smattest
tests/space1
tests/space2
tests/svectest1
tests/svectest2
tests/tate
tests/tbessel
tests/tcon2
tests/tcurve
tests/tdivpol
tests/tegr
tests/telog
tests/tequiv
tests/theight
tests/thilbert
tests/threading
tests/thtconst
tests/tilll
tests/timing
tests/tlegcert
tests/tmanin
tests/tmanin_prof
tests/tmrank
tests/tnfd
tests/torsion
tests/tp2points
tests/tperiods
tests/tpoints
tests/tsat
tests/tsat2
tests/tsat3
tests/twist
tests/vectest1
tests/vectest2
